.container {
  min-width: 14.25rem;

  display: flex;
  flex-direction: column;

  gap: 0.25rem;
}

.label {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.value {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
