.container {
  margin-top: auto;

  height: 5.875rem;

  background: var(--white);
  border-top: 1px solid var(--gray);

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.container span {
  line-height: 1.5;
  text-align: center;
}
