.container {
  max-width: 80rem;

  padding: 2.5rem 1.5rem 6.25rem;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.content {
  margin-bottom: auto;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;

  gap: 1.5rem;
}

.coverContainer {
  width: 18.75rem;
}

.coverContainer img {
  width: 100%;
}

.infoContainer {
  width: 20rem;

  display: flex;
  flex-direction: column;

  flex-grow: 1;

  gap: 2rem;
}

.infoContainer .infoLine {
  max-width: 37.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infoContainer .infoLine p {
  max-width: 37.5rem;
}
